#!/bin/sh

echo "start $0"

. {{ .chezmoi.sourceDir }}/.helpers/prereq_functions

require curl
require file
require git
require bash

{{ if eq .chezmoi.osRelease.id "ubuntu" "debian" }}
require build-essential
require procps
{{ end }}

{{ if eq .chezmoi.osRelease.id "centos" "rhel" "fedora" }}
yum_install_group 'Development Tools'
require procps-ng
{{ end }}

{{ if (eq .chezmoi.osRelease.id "fedora") }}
require libxcrypt-compat
{{ end }}

if ! installed brew; then
  NONINTERACTIVE=1 /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
fi

echo "end $0"

