#!/usr/bin/env bash 

source "{{ .chezmoi.sourceDir }}/.helpers/prereq_functions"
use_homebrew

if ! pyenv versions | grep -sqF "{{ .python_version }}"; then
  pyenv install {{ .python_version | quote }}
fi

if ! pyenv versions | grep -sqF '* {{ .python_version }}'; then
  pyenv global {{ .python_version | quote }}
fi

