{{- define "brew_install"                                                   -}}
{{- if .use_system }}if ! command -v {{ .package }} > /dev/null; then{{ end -}}
{{- $if_os := index . "if_os"                                                -}}
{{- if or (not $if_os) (eq $if_os $.chezmoi.os)                             -}}
if ! brew list -q {{ .package }} >& /dev/null
  brew install {{if .cask}}--cask {{end}}{{ .package }}
fi
{{- if .service }}brew services start {{ .package }}{{ end                  -}}
{{- end                                                                     -}}
{{- if .use_system }}fi{{ end                                               -}}
{{- end                                                                     -}}

#!/usr/bin/env bash

>&2 echo "Installing Homebrew Packages"

{{- if and (eq $.chezmoi.os "linux") (eq $.chezmoi.username "root") }}
su - linuxbrew -s /bin/bash <<EOS
{{- end }}

{{- range $.package.brew }}
{{ template "brew_install" . }}
{{- end }}

{{- if and (eq $.chezmoi.os "linux") (eq $.chezmoi.username "root") }}EOS{{ end }}

