#!/usr/bin/env bash

source "{{ .chezmoi.sourceDir }}/.helpers/prereq_functions"

{{ if eq .chezmoi.os "linux" -}}
$SUDO su linuxbrew <<EOF
source "{{ .chezmoi.sourceDir }}/.helpers/prereq_functions"
{{ end }}

use_homebrew

brew update
brew upgrade
brew cleanup

{{ if eq .chezmoi.os "linux" -}}
EOF
{{ end }}

