#!/usr/bin/env bash

eval "$({{$.brew_install_location}}/bin/brew shellenv)"

export NVM_DIR="$HOME/.config/nvm"
mkdir -p $NVM_DIR
source $(brew --prefix nvm)/nvm.sh

nvm install {{ .version.node }}

{{ range .package.npm }}
npm install -g {{ . }}
{{ end }}

