#!/usr/bin/env bash
{{- if and (eq $.chezmoi.os "linux") $.as_linuxbrew                }}

#####################################################################
# SET UP LINUXBREW USER FOR HOMEBREW
#####################################################################
{{$.sudo}}adduser --group --system --gecos "Linuxbrew User" linuxbrew

#####################################################################
# SET UP HOMEBREW FOR LINUX (as linuxbrew: cannot install as root)
#####################################################################
{{.sudo}}su - linuxbrew -s /bin/bash <<EOF
git clone "https://github.com/Homebrew/brew" "{{$.brew_install_location}}"
mkdir -p "{{$.brew_install_location}}/share/zsh"
chmod -R go-w "{{$.brew_install_location}}/share/zsh"
printf 'eval \x22\x24\x28{{$.brew_install_location}}/bin/brew shellenv\x29\x22' > /home/linuxbrew/.profile
eval "$({{$.brew_install_location}}/bin/brew shellenv)"
brew update --force
EOF

{{ end                                                             }}

