#!/usr/bin/env bash

>&2 echo "Installing Python"

eval "$({{ .brew }} shellenv)"

if ! pyenv versions | grep -sqF "{{ .version.python2 }}"; then
  pyenv install {{ .version.python2 }}
fi

if ! pyenv versions | grep -sqF "{{ .version.python3 }}"; then
  pyenv install {{ .version.python3 }}
fi

pyenv global {{ .version.python2 }} {{ .version.python3 }}
