#!/usr/bin/env bash

>&2 echo "Setting Up Node Packages"

export NVM_DIR="$HOME/.nvm"
. "${NVM_DIR}/nvm.sh"

nvm install {{ .node_version }}
nvm alias default v{{ .node_version }}
npm install -g npm@{{ .npm_version }}
npm install -g @commitlint/cli@{{ .commitlint_cli_version }}
