#!/bin/sh

. {{ .chezmoi.sourceDir }}/.helpers/prereq_functions

if ! installed brew; then
  get_sudo
{{ if eq .chezmoi.os "linux" -}}
{{   if eq .chezmoi.osRelease.id "ubuntu" "debian" -}}
  $SUDO apt-get install -y bash build-essential curl file git procps zsh
{{   end -}}
{{   if eq .chezmoi.osRelease.id "centos" "rhel" "fedora" -}}
  $SUDO yum groupinstall -y 'Development Tools'
  $SUDO yum install -y bash curl file git procops-ng zsh
{{     if eq .chezmoi.osRelease.id "fedora" -}}
  $SUDO yum install -y libxcrypt-compat
{{     end -}}
{{   end -}}
{{   if eq .chezmoi.osRelease.id "alpine" -}}
  $SUDO apk add --update bash build-base curl file git procps zsh
{{   end -}}
{{ end }}
  NONINTERACTIVE=1 download_run_script "https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh"
fi
