#!/usr/bin/env bash

source "{{ .chezmoi.sourceDir }}/.helpers/prereq_functions"
use_homebrew

{{ if eq .chezmoi.os "linux" -}}
  non_root="su linuxbrew"
{{ end }}

$non_root brew update
$non_root brew upgrade
$non_root brew cleanup
