#!/usr/bin/env bash

echo "start $0"

eval "$(/home/linuxbrew/.linuxbrew/bin/brew shellenv)"
source "{{ .chezmoi.sourceDir }}/.helpers/prereq_functions"

install_package_brew_cask 1password-cli
install_package_brew age
install_package_brew awscli@1
install_package_brew_cask aws-vault
install_package_brew gh
install_if_absent git
install_if_absent gpg2
install_package_brew gradle
install_package_brew maven
install_package_brew mosh
install_package_brew nvm
install_package_brew openjdk
install_package_brew pipenv
install_package_brew pyenv
install_package_brew syncthing
install_if_absent telnet
install_package_brew terraform
install_package_brew tmux
install_package_brew_cask vagrant
install_if_absent vim
install_if_absent zsh
install_nvm "v14.19.0"
install_npm npm@latest
install_npm @commitlint/cli 

{{ if (eq .chezmoi.os "darwin") }}
install mas
install_app_if_absent '1Password 7' 1password
install_app_if_absent iterm2 iterm2
install_app_if_absent chrome google-chrome
install_app_if_absent firefox firefox
install_app_if_absent virtualbox virtualbox
install_app_if_absent 'Sequel Pro' sequel-pro
install_app_if_absent rectangle rectangle
install_cask_app_if_absent Docker docker
install_app_if_absent "Visual Studio Code" visual-studio-code
install_mas Amphetamine '937984704'
install_mas Bear '1091189122'
install_mas Flycut '442160987'
install_mas Slack '803453959'
install_mas Spark '1176895641'
{{ end }}

echo "end $0"

