#!/usr/bin/env bash

{{ range .repo -}}
if [[ -d "{{ .path }}/.git" ]]; then
  cd {{ .path }}
  git pull
  cd -
else
  mkdir -p "$(dirname {{ .path }})"
  git clone -b "{{ .ref }}" "{{ .url }}" "{{ .path }}"
fi
{{ end }}
