#!/usr/bin/env bash
{{ if (eq .chezmoi.os "darwin") }}

>&2 echo "Installing Homebrew Darwin Packages"

eval "$({{ .brew }} shellenv)"

brew install --cask 1password-cli
brew install telnet
brew install --cask vagrant
brew install --cask 1password
brew install --cask iterm2
brew install --cask google-chrome
brew install --cask firefox
brew install --cask virtualbox
brew install --cask virtualbox-extension-pack
brew install --cask sequel-pro
brew install --cask rectangle
brew install --cask docker
brew install --cask visual-studio-code
brew install --cask slack
brew install --cask flycut
brew install --cask jetbrains-toolbox
brew install --cask kitty

{{ end }}
