{{- if eq .chezmoi.osRelease.id "ubuntu" "debian" -}}
#!/bin/sh

>&2 echo "Installing APT dependencies"
>&2 {{ template "test" "FOO!" }}

{{.sudo}} apt-get update -yq
{{.sudo}} apt-get install -yqq {{ .package.apt | join " " }}

{{- end }}
