#!/usr/bin/env bash
{{ if (eq .chezmoi.os "darwin") }}

source "{{ .chezmoi.sourceDir }}/.helpers/prereq_functions"
use_homebrew

brew install --cask 1password-cli
brew install telnet
brew install --cask vagrant
which_app '1Password 7' || brew install --cask 1password
which_app iTerm2 || brew install --cask iterm2
which_app Chrome || brew install --cask google-chrome
which_app Firefox || brew install --cask firefox
which_app VirtualBox || brew install --cask virtualbox
brew install --cask virtualbox-extension-pack
which_app 'Sequel Pro' || brew install --cask sequel-pro
which_app Rectangle || brew install --cask rectangle
which_app Docker || brew install --cask docker
which_app 'Visual Studio Code' || brew install --cask visual-studio-code
which_app Slack || brew install --cask slack
which_app Flycut || brew install --cask flycut
which_app 'Jetbrains Toolbox' || brew install --cask jetbrains-toolbox
which_app 'Kitty' || brew install --cask kitty

mkdir -p ~/.zsh/iterm2_shell_integration
curl -L https://iterm2.com/shell_integration/install_shell_integration.sh | bash
mv ~/.iterm2_shell_integration.zsh ~/.zsh/iterm2_shell_integration

{{ end }}
