#!/usr/bin/env bash 

source "{{ .chezmoi.sourceDir }}/.helpers/prereq_functions"
use_homebrew

download https://raw.githubusercontent.com/nvm-sh/nvm/v{{ .nvm_version }}/install.sh | bash

export NVM_DIR="$HOME/.nvm"
[ -s "$NVM_DIR/nvm.sh" ] && \. "$NVM_DIR/nvm.sh"  # This loads nvm
[ -s "$NVM_DIR/bash_completion" ] && \. "$NVM_DIR/bash_completion"  # This loads nvm bash_completion

nvm install {{ .node_version }}
 
npm install npm@latest
npm install @commitlint/cli

