#!/bin/sh

echo "start $0"

. {{ .chezmoi.sourceDir }}/.helpers/prereq_functions

require curl
require file
require git
require bash

{{ if eq .chezmoi.os "linux" }}
{{ if eq .chezmoi.osRelease.id "ubuntu" "debian" }}
require build-essential
require procps
{{ end }}

{{ if eq .chezmoi.osRelease.id "centos" "rhel" "fedora" }}
yum_install_group 'Development Tools'
require procps-ng
{{ end }}

{{ if (eq .chezmoi.osRelease.id "fedora") }}
require libxcrypt-compat
{{ end }}
{{ end }}

if ! installed brew; then
  bash_location=`command -v bash`
  brew_script=`curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh`
  NONINTERACTIVE=1 $bash_location -c "$brew_script"
fi

echo "end $0"

