#!/usr/bin/env bash

eval "$({{$.brew_install_location}}/bin/brew shellenv)"

asdf plugin add nodejs
asdf install nodejs {{ .version.node }}
asdf global nodejs {{ .version.node }}

{{ range .package.npm }}
npm install -g {{ . }}
{{ end }}

