#!/usr/bin/env bash

>&2 echo "Installing Python"

eval "$({{$.brew_install_location}}/bin/brew shellenv)"

export CC="$(brew --prefix gcc)/bin/gcc-11"
export CFLAGS="$(pkg-config --cflags libffi)"
export LDFLAGS="$(pkg-config --libs libffi)"
pyenv install --verbose 3.10.0

export PATH="$HOME/.pyenv/bin:$PATH"
eval "$(pyenv init --path)"

if ! pyenv versions | grep -sqF "{{ $.version.python2 }}"; then
  pyenv install --verbose {{ $.version.python2 }}
fi

if ! pyenv versions | grep -sqF "{{ $.version.python3 }}"; then
  pyenv install --verbose {{ $.version.python3 }}
fi

pyenv global {{ $.version.python2 }} {{ $.version.python3 }}

{{ range $.package.pip }}
  pip3 install {{ . }}
{{ end }}

