{{- $chezmoi               := .chezmoi                                                -}}
{{- $os                    := $chezmoi.os                                             -}}
{{- $username              := $chezmoi.username                                       -}}
{{- $packages              := list                                                    -}}
{{- $groups                := list                                                    -}}
{{- $git_packages          := index .package "git"                                    -}}
{{- $curl_packages         := index .package "curl"                                   -}}
{{- $package_manager       := index . "package_manager"                               -}} 
{{- $package_list          := index .package $package_manager                         -}}
{{- $brew_install_location := index . "brew_install_location"                         -}}
#!/bin/sh

cd
{{- if eq $os "linux"                                                                  }}
{{-   if eq $username "root"                                                           }}
adduser --group --system --gecos "Linuxbrew User" linuxbrew
{{-   end                                                                              }}
{{-   range $package_list                                                              }}
{{-     $packages = append $packages .package                                          }}
{{-   end                                                                              }}

{{-   if eq $package_manager "apk"                                                     }}
{{.sudo}}apk add --update bash {{ $packages | join " " }}

{{-   else if eq $package_manager "apt"                                                }}
{{.sudo}}apt-get -yq update
{{.sudo}}apt-get -yqq install {{ $packages | join " " }}

{{-   else if eq $package_manager "pacman"                                             }}
{{.sudo}}pacman -Sy {{ $packages | join " " }}

{{-   else if eq $package_manager "yum"                                                }}
{{.sudo}}yum groupinstall -y {{ $groups | join " " }}
{{.sudo}}yum install -y {{ $packages | join " " }}

{{-   end                                                                              }}
{{- end                                                                                }}
gpg --recv-keys {{ .gpg_keys | join " " }}

bash -s <<EOF
{{- range $git_packages                                                                }}
{{-   $if_os := index . "if_os"                                                        }}
{{-   $path  := index . "path"                                                         }}
{{-   $ref   := index . "ref"                                                          }}
{{-   $url   := index . "url"                                                          }}
{{-   if or (not $if_os) (eq $os $if_os)                                               }}
if [[ -d "{{$path}}/.git" ]]; then
  cd "{{$path}}"
  git pull
  cd -
else
  mkdir -p "$(dirname {{$path}})"
  git clone -b "{{$ref}}" "{{$url}}" "{{$path}}"
fi
{{-   end                                                                              }}
{{- end                                                                                }}
mkdir -p "{{$brew_install_location}}/share/zsh"
{{-   if eq $username "root"                                                           }}
chown -R linuxbrew:linuxbrew {{$brew_install_location | quote}}
chmod -R go-w "{{$brew_install_location}}/share/zsh"
{{-   end                                                                              }}

{{- range $curl_packages                                                               }}
{{-   $if_os := index . "if_os"                                                        }}
{{-   $path  := index . "path"                                                         }}
{{-   $url   := index . "url"                                                          }}
{{-   if or (not $if_os) (eq $os $if_os)                                               }}
curl --create-dirs -LSso "{{$path}}" "{{$url}}"
{{-   end                                                                              }}
{{- end                                                                                }}

{{- if eq $os "darwin"                                                                 }}
echo '' | NONINTERACTIVE=1 .installers/install_homebrew.sh
{{- else                                                                               }}
{{-  if eq $username "root"                                                            }}
su - linuxbrew -s /bin/bash <<EOS
{{-  end                                                                               }}
{{ .use_homebrew }}
brew update --force --quiet
{{-   if eq $username "root"                                                           }}
EOS
{{-   end                                                                              }}
{{- end                                                                                }}
EOF
