{{- define "brew_install"                                                   -}}
{{- $cask := index . "cask"                                                 -}}
{{- $service := index . "service"                                           -}}
{{- $use_system := index . "use_system"                                     -}}
{{- if $use_system                                                          -}}
if ! command -v {{ .package }} > /dev/null; then
{{- end                                                                      }}
if ! brew list -q {{ .package }} >& /dev/null; then
  brew install {{if $cask}}--cask {{end}}{{ .package }}
fi
{{- if $service                                                              }}
brew services start {{ .package }}
{{- end                                                                      }}
{{  if $use_system                                                          -}}
fi
{{- end                                                                      }}
{{- end                                                                     -}}

#!/usr/bin/env bash

>&2 echo "Installing Homebrew Packages"

{{- if and (eq $.chezmoi.os "linux") (eq $.chezmoi.username "root") }}
su - linuxbrew -s /bin/bash <<EOS
{{- end }}

eval "$({{$.brew_install_location}}/bin/brew shellenv)"

{{  range $.package.brew                                                    }}
{{-   $if_os := index . "if_os"                                             }}
{{-   $if_arch := index . "if_arch"                                         }}
{{-   if or (not $if_os) (eq $if_os $.chezmoi.os)                           }}
{{-     if or (not $if_arch) (eq $if_arch $.chezmoi.arch)                   }}
{{        template "brew_install" .                                         }}
{{-     end                                                                 }}
{{-   end                                                                   }}
{{- end                                                                     }}

{{ if and (eq $.chezmoi.os "linux") (eq $.chezmoi.username "root") }}EOS{{ end }}

