{{- define "brew_install" }}
{{ if .use_system }}if ! command -v {{ .package }} > /dev/null; then{{ end }}
if ! brew list -q {{ .package }} >& /dev/null
  brew install {{if .cask}}--cask {{end}}{{ .package }}
fi
{{ if .service }}brew services start {{ .package }}{{ end }}
{{ if .use_system }}fi{{ end }}
{{ end -}}

#!/usr/bin/env bash

>&2 echo "Installing Homebrew Packages"

{{- if and (eq .chezmoi.os "linux") (eq .chezmoi.username "root") }}
su - linuxbrew -s /bin/bash <<EOS
{{- end }}

eval "$({{ .brew_install_location }} shellenv)"

{{ range .brew.common }}
{{ template "brew_install" . }}
{{ end }}

{{ range (index .brew .chezmoi.os) }}
{{ template "brew_install" . }}
{{ end }}

{{- if and (eq .chezmoi.os "linux") (eq .chezmoi.username "root") }}EOS{{ end }}

{{- end }}
