#!/usr/bin/env bash

source "{{ .chezmoi.sourceDir }}/.helpers/prereq_functions"

{{ if eq .chezmoi.os "linux" -}}
su linuxbrew <<EOF
source "{{ .chezmoi.sourceDir }}/.helpers/prereq_functions"
{{ end }}

use_homebrew

installed age || brew install age
brew install awscli@1
brew install aws-vault
brew install expect
brew install gh
installed git || brew install git
installed gpg2 || brew install gpg2
brew install gradle
brew install jq
brew install maven
brew install mosh
brew install nvim
brew install openjdk
brew install pipenv
brew install pyenv
installed syncthing || (brew install syncthing && brew services start syncthing)
brew install terraform@{{ .terraform_version }}
installed unzip || brew install unzip
brew install zellij

{{ if eq .chezmoi.os "linux" -}}
EOF
{{ end }}

