#!/usr/bin/env bash

####################################################
# DOWNLOAD CURL PACKAGES
####################################################
{{- range $.package.curl                          }}
{{-   $if_os := index . "if_os"                   }}
{{-   $path  := index . "path"                    }}
{{-   $url   := index . "url"                     }}
{{-   $unzip := index . "unzip"                   }}
{{-   $executable := index . "executable"         }}
{{-   if or (not $if_os) (eq $.chezmoi.os $if_os) }}

curl --create-dirs -LSso "{{$path}}" "{{$url}}"
{{-     if $unzip                                 }}
gunzip "{{$path}}"
{{-     end                                       }}

{{-     if $executable                            }}
chmod 744 "{{$path}}"
{{-     end                                       }}

{{   end                                         -}}
{{ end                                           -}}
