#!/usr/bin/env bash

current=$SHELL proposed="$(command -v {{ .shell }})"

if [[ -x {{ "$proposed" }} ]] && grep -q "$proposed" /etc/shells && [[ "$current" != "$proposed" ]]; then
  chsh -s "$proposed"
fi
