#!/usr/bin/env bash
{{- if eq $.chezmoi.os "darwin"                            }}

#############################################################
# SET UP HOMEBREW FOR MAC OS
#############################################################
chmod 744 .installers/install_homebrew.sh
echo '' | NONINTERACTIVE=1 .installers/install_homebrew.sh

{{ end                                                    -}}
