#!/bin/sh

##############################################################################
# INSTALL TERMINFO PROFILES
##############################################################################
tic -xe {{ $.package.terminfo | join "," }} .installers/terminfo.src
