#!/usr/bin/env bash

{{- if $.as_linuxbrew }}
{{$.sudo}}su - linuxbrew -s /bin/bash <<EOS
{{- else }}
eval "$({{$.brew_install_location}}/bin/brew shellenv)"
{{- end }}
brew update
brew upgrade
brew cleanup
{{ if $.as_linuxbrew }}EOS{{ end }}

