#!/usr/bin/env bash

eval "$({{$.brew_install_location}}/bin/brew shellenv)"

##############################################################################
# INSTALL GPG KEYS
##############################################################################
gpg --recv-keys {{ .gpg_keys | join " " }}

