#!/usr/bin/env bash

##############################################################################
# INSTALL TERMINFO PROFILES
##############################################################################
tic -xe {{ $.package.terminfo | join "," }} .installers/terminfo.src
