#!/usr/bin/env bash

##############################################################################
# INSTALL GPG KEYS
##############################################################################
gpg --recv-keys {{ .gpg_keys | join " " }}

