{{- $username := "" -}}
{{- if (hasKey . "username") -}}
{{-   $username = .username -}}
{{- else -}}
{{-   $username = .chezmoi.username | printf "username [%s]" | promptString -}}
{{-   if (eq (len $username) 0) -}}
{{-     $username = .chezmoi.username -}}
{{-   end -}}
{{- end -}}
{{- $email := "" -}}
{{- if (hasKey . "email") -}}
{{-   $email = .email -}}
{{- else -}}
{{-   $email = $username | printf "email [%s@formswift.com]" | promptString -}}
{{-   if (eq (len $email) 0) -}}
{{-     $email = $username | printf "%s@formswift.com" -}}
{{-   end -}}
{{- end -}}
{{- $fullname := "" -}}
{{- if (hasKey . "fullname") -}}
{{-   $fullname = .fullname -}}
{{- else -}}
{{-   $fullname = promptString "full name" -}}
{{- end -}}
{{- $brew := "" -}}
{{- if eq .chezmoi.os "linux" -}}
{{-   if eq .chezmoi.username "root" -}}
{{-     $brew = .chezmoi.username | printf "/root/.linuxbrew/bin/brew" -}}
{{-   else -}}
{{-     $brew = .chezmoi.username | printf "/home/%s/.linuxbrew/bin/brew" -}}
{{-   end -}}
{{- else if eq .chezmoi.os "darwin" -}}
{{-   $brew = "/usr/local/bin/brew" -}}
{{- else -}}
{{-   .chezmoi.os | printf "Unsupported OS platform: %s" | fail -}}
{{- end -}}


[data]
brew = {{ $brew | quote }}
username = {{ $username | quote }}
email = {{ $email | quote }}
fullname = {{ $fullname | quote }}
commitlint_cli_version="16.2.4"
node_version="14.19.0"
nvm_version="0.39.1"
npm_version="8.9.0"
op_cli_version="2.1.0"
python2_version="2.7.18"
python3_version="3.9.10"
rvm_version="stable"
ruby_version="ruby-3.0.0"
shell="zsh"
sudo={{if eq .chezmoi.username "root"}}""{{else}}"sudo"{{end}}
terraform_version="0.12"
