{{- $username := "" -}}
{{- if (hasKey . "username") -}}
{{-   $username = .username -}}
{{- else -}}
{{-   $username = env "USER" | printf "username [%s]" | promptString -}}
{{-   if (eq (len $username) 0) -}}
{{-     $username = env "USER" -}}
{{-   end -}}
{{- end -}}
{{- $email := "" -}}
{{- if (hasKey . "email") -}}
{{-   $email = .email -}}
{{- else -}}
{{-   $email = $username | printf "email [%s@formswift.com]" | promptString -}}
{{-   if (eq (len $email) 0) -}}
{{-     $email = $username | printf "%s@formswift.com" -}}
{{-   end -}}
{{- end -}}
{{- $fullname := "" -}}
{{- if (hasKey . "fullname") -}}
{{-   $fullname = .fullname -}}
{{- else -}}
{{-   $fullname = promptString "full name" -}}
{{- end -}}

[data]
username = {{ $username | quote }}
email = {{ $email | quote }}
fullname = {{ $fullname | quote }}

node_version="14"
nvm_version="0.39.1"
python_version="3.9.10"
ruby_version="ruby-3.0.0"
shell="zsh"
terraform_version="0.12"

