{{-   $commitlint_cli_version := "16.2.4"                                                  -}}
{{-   $node_version           := "14.19.0"                                                 -}}
{{-   $nvm_version            := "0.39.1"                                                  -}}
{{-   $npm_version            := "8.9.0"                                                   -}}
{{-   $op_cli_version         := "2.1.0"                                                   -}}
{{-   $python2_version        := "2.7.18"                                                  -}}
{{-   $python3_version        := "3.9.10"                                                  -}}
{{-   $rvm_version            := "stable"                                                  -}}
{{-   $ruby_version           := "ruby-3.0.0"                                              -}}
{{-   $terraform_version      := "0.12"                                                    -}}

{{- $package_manager := ""                                                                 -}}
{{- if eq .chezmoi.osRelease.id "centos" "fedora" "rhel"                                   -}}
{{-   $package_manager = "yum"                                                             -}}
{{- else if eq .chezmoi.osRelease.id "debian" "ubuntu"                                     -}}
{{-   $package_manager = "apt"                                                             -}}
{{- else if eq .chezmoi.osRelease.id "alpine"                                              -}}
{{-   $package_manager = "apk"                                                             -}}
{{- else if eq .chezmoi.osRelease.id "arch"                                                -}}
{{-   fail "Arch Linux does not currently support Homebrew."                               -}}
{{-   $package_manager = "pacman"                                                          -}}
{{- end                                                                                    -}}

{{- $brew_install_location := ""                                                           -}}
{{- if eq .chezmoi.os "linux"                                                              -}}
{{-   $brew_user := .chezmoi.username                                                      -}}
{{-   if eq $brew_user "root"                                                              -}}
{{-     $brew_user = "linuxbrew"                                                           -}}
{{-   end                                                                                  -}}
{{-   $brew_install_location := $brew_user | printf "/home/%s/.linuxbrew"                  -}}
{{- else if eq .chezmoi.os "darwin"                                                        -}}
{{-   if eq .chezmoi.arch "arm64"                                                          -}}
{{-     $brew_install_location = "/opt/homebrew"                                           -}}
{{-   else                                                                                 -}}
{{-     $brew_install_location = "/usr/local"                                              -}}
{{-   end                                                                                  -}}
{{- else                                                                                   -}}
{{-   .chezmoi.os | printf "Unsupported OS platform: %s" | fail                            -}}
{{- end                                                                                    -}}

{{- $username := ""                                                                        -}}
{{- if hasKey . "username"                                                                 -}}
{{-   $username = .username                                                                -}}
{{- else                                                                                   -}}
{{-   $username = .chezmoi.username | printf "username [%s]" | promptString                -}}
{{-   if eq $username "" }}{{ $username = .chezmoi.username }}{{ end                       -}}
{{- end                                                                                    -}}

{{- $email := ""                                                                           -}}
{{- if hasKey . "email"                                                                    -}}
{{-   $email = .email                                                                      -}}
{{- else                                                                                   -}}
{{-   $email = $username | printf "email [%s@formswift.com]" | promptString                -}}
{{-   if eq $email "" }}{{ $email = .chezmoi.username | printf "%s@formswift.com" }}{{ end -}}
{{- end                                                                                    -}}

{{- $fullname := ""                                                                        -}}
{{- if hasKey . "fullname"                                                                 -}}
{{-   $fullname = .fullname                                                                -}}
{{- else                                                                                   -}}
{{-   $fullname = printf "full name []" | promptString                                     -}}
{{- end                                                                                    -}}

data:
  username: {{ $username }}
  email:    {{ $email }}
  fullname: {{ $fullname }}
  package_manager: {{ $package_manager | quote }}
  brew_install_location: {{ $brew_install_location | quote }}
  use_homebrew: {{ $brew_install_location | printf "eval \"$(%s/bin/brew shellenv)\"" | quote }}
  shell: "zsh"
  sudo: {{if eq .chezmoi.username "root"}}""{{else}}"sudo"{{end}}
  gpg_keys:
    - "409B6B1796C275462A1703113804BB82D39DC0E3"
    - "7D2BAF1CF37B13E2069D6956105BD0E739499BDB"
  version:
    commitlint_cli: {{ $commitlint_cli_version | quote }}
    node: {{ $node_version | quote }}
    nvm: {{ $nvm_version | quote }}
    npm: {{ $npm_version | quote }}
    op_cli: {{ $op_cli_version | quote }}
    python2: {{ $python2_version | quote }}
    python3: {{ $python3_version | quote }}
    rvm: {{ $rvm_version | quote }}
    ruby: {{ $ruby_version | quote }}
    terraform: {{ $terraform_version | quote }}
  package:
    apt:
      - package: bash
      - package: build-essential
      - package: curl
      - package: file
      - package: git
      - package: gpg
      - package: procps
      - package: sudo
      - package: sysstat
      - package: zsh
    apk:
      - package: bash
      - package: build-base
      - package: curl
      - package: file
      - package: git
      - package: gpg
      - package: procps
      - package: sudo
      - package: zsh
    yum:
      - package: "Development Tools"
        group: true
      - package: bash
      - package: curl
      - package: file
      - package: git
      - package: gpg
      - package: libxcrypt-compat
        if_distro: fedora
      - procps-ng
      - sudo
      - sysstat
      - zsh
    curl:
      - path: ".installers/install_homebrew.sh"
        if_os: "darwin"
        url: "https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh"
      - path: ".installers/install_rvm.sh"
        url: "https://get.rvm.io"
    git:
      - path: ".config/tmux/plugins/tpm"
        url: "https://github.com/tmux-plugins/tpm.git"
        ref: "master"
      - path: ".oh-my-zsh"
        url: "https://github.com/ohmyzsh/ohmyzsh.git"
        ref: "master"
      - path: ".oh-my-zsh/custom/plugins/zsh-syntax-highlighting"
        url: "https://github.com/zsh-users/zsh-syntax-highlighting.git"
        ref: "master"
      - path: ".oh-my-zsh/custom/plugins/zsh-autosuggestions"
        url: "https://github.com/zsh-users/zsh-autosuggestions.git"
        ref: "master"
      - path: ".oh-my-zsh/custom/themes/powerlevel10k"
        url: "https://github.com/romkatv/powerlevel10k.git"
        ref: "master"
      - path: ".nvm"
        url: "https://github.com/nvm-sh/nvm.git"
        ref: "v{{ $nvm_version }}"
      - path: {{ $brew_install_location | quote }}
        if_os: "linux"
        url: "https://github.com/Homebrew/brew"
        ref: "master"
      - path: ".local/share/nvim/site/pack/packer/start/packer.nvim"
        url: "https://github.com/wbthomason/packer.nvim"
        ref: "master"
    brew:
      - package: age
        use_system: true
      - package: awscli@1
      - package: aws-vault
      - package: chezmoi
      - package: expect
      - package: fd
      - package: gh
      - package: git
      - package: gpg2
      - package: gradle
      - package: jq
      - package: maven
      - package: mosh
      - package: nvim
      - package: openjdk
      - package: pipenv
      - package: pyenv
      - package: ripgrep
      - package: syncthing
        service: true
        use_system: true
      - package: terraform@{{ $terraform_version }}
      - package: unzip
        use_system: true
      - package: zellij
      - package: telnet
        if_os: darwin
      - package: 1password-cli
        if_os: darwin
        cask: true
      - package: vagrant
        if_os: darwin
        cask: true
      - package: 1password
        if_os: darwin
        cask: true
      - package: iterm2
        if_os: darwin
        cask: true
      - package: google-chrome
        if_os: darwin
        cask: true
      - package: firefox
        if_os: darwin
        cask: true
      - package: virtualbox
        if_os: darwin
        cask: true
      - package: virtualbox-extension-pack
        if_os: darwin
        cask: true
      - package: sequel-pro
        if_os: darwin
        cask: true
      - package: rectangle
        if_os: darwin
        cask: true
      - package: docker
        if_os: darwin
        cask: true
      - package: visual-studio-code
        if_os: darwin
        cask: true
      - package: slack
        if_os: darwin
        cask: true
      - package: flycut
        if_os: darwin
        cask: true
      - package: jetbrains-toolbox
        if_os: darwin
        cask: true
      - package: kitty
        if_os: darwin
        cask: true
    npm:
      - "npm@{{ $npm_version }}"
      - "@commitlint/cli@{{ $commitlint_cli_version }}"
