{{-   $awscli_version         := "1.22.48"                                                 -}}
{{-   $commitlint_cli_version := "16.2.4"                                                  -}}
{{-   $node_version           := "16.10.0"                                                 -}}
{{-   $npm_version            := "8.9.0"                                                   -}}
{{-   $op_cli_version         := "2.6.1"                                                   -}}
{{-   $python2_version        := "2.7.18"                                                  -}}
{{-   $python3_version        := "3.9.10"                                                  -}}
{{-   $rvm_version            := "stable"                                                  -}}
{{-   $ruby_version           := "ruby-3.0.4"                                              -}}
{{-   $terraform_version      := "0.12"                                                    -}}

{{- $package_manager := ""                                                                 -}}
{{- if eq .chezmoi.osRelease.id "centos" "fedora" "rhel"                                   -}}
{{-   $package_manager = "yum"                                                             -}}
{{- else if eq .chezmoi.osRelease.id "debian" "ubuntu"                                     -}}
{{-   $package_manager = "apt"                                                             -}}
{{- else if eq .chezmoi.osRelease.id "alpine"                                              -}}
{{-   $package_manager = "apk"                                                             -}}
{{- else if eq .chezmoi.osRelease.id "arch"                                                -}}
{{-   fail "Arch Linux does not currently support Homebrew."                               -}}
{{-   $package_manager = "pacman"                                                          -}}
{{- end                                                                                    -}}

{{- $brew_user := ""                                                                       -}}
{{- $brew_install_location := ""                                                           -}}
{{- if eq .chezmoi.os "linux"                                                              -}}
{{-   $brew_user = "linuxbrew"                                                             -}}
{{-   $brew_install_location = $brew_user | printf "/home/%s/.linuxbrew"                   -}}
{{- else if eq .chezmoi.os "darwin"                                                        -}}
{{-   if eq .chezmoi.arch "arm64"                                                          -}}
{{-     $brew_install_location = "/opt/homebrew"                                           -}}
{{-   else                                                                                 -}}
{{-     $brew_install_location = "/usr/local"                                              -}}
{{-   end                                                                                  -}}
{{- else                                                                                   -}}
{{-   .chezmoi.os | printf "Unsupported OS platform: %s" | fail                            -}}
{{- end                                                                                    -}}

{{- $username := ""                                                                        -}}
{{- if hasKey . "username"                                                                 -}}
{{-   $username = .username                                                                -}}
{{- else                                                                                   -}}
{{-   $username = .chezmoi.username | printf "username [%s]" | promptString                -}}
{{-   if eq $username "" }}{{ $username = .chezmoi.username }}{{ end                       -}}
{{- end                                                                                    -}}

{{- $email := ""                                                                           -}}
{{- if hasKey . "email"                                                                    -}}
{{-   $email = .email                                                                      -}}
{{- else                                                                                   -}}
{{-   $email = $username | printf "email [%s@formswift.com]" | promptString                -}}
{{-   if eq $email "" }}{{ $email = .chezmoi.username | printf "%s@formswift.com" }}{{ end -}}
{{- end                                                                                    -}}

{{- $fullname := ""                                                                        -}}
{{- if hasKey . "fullname"                                                                 -}}
{{-   $fullname = .fullname                                                                -}}
{{- else                                                                                   -}}
{{-   $fullname = expandenv "full name [$CHEZMOI_FULLNAME]" | printf | promptString        -}}
{{-   if eq $fullname "" }}{{ $fullname = env "CHEZMOI_FULLNAME" }}{{ end                  -}}
{{- end                                                                                    -}}

data:
  username: {{ $username }}
  email:    {{ $email }}
  fullname: {{ $fullname }}
  package_manager: {{ $package_manager | quote }}
  as_linuxbrew: {{ and (eq $.chezmoi.os "linux") (eq $brew_user "linuxbrew") }}
  brew_user: {{ $brew_user | quote }}
  brew_install_location: {{ $brew_install_location | quote }}
  shell: "zsh"
  sudo: {{if eq .chezmoi.username "root"}}""{{else}}"sudo "{{end}}
  gpg_keys:
    - "409B6B1796C275462A1703113804BB82D39DC0E3"
    - "7D2BAF1CF37B13E2069D6956105BD0E739499BDB"
  version:
    commitlint_cli: {{ $commitlint_cli_version | quote }}
    node:           {{ $node_version           | quote }}
    npm:            {{ $npm_version            | quote }}
    op_cli:         {{ $op_cli_version         | quote }}
    python2:        {{ $python2_version        | quote }}
    python3:        {{ $python3_version        | quote }}
    rvm:            {{ $rvm_version            | quote }}
    ruby:           {{ $ruby_version           | quote }}
    terraform:      {{ $terraform_version      | quote }}
  package:
    apt:
      - package: bash
      - package: build-essential
      - package: curl
      - package: file
      - package: git
      - package: gpg
      - package: libbz2-dev
      - package: libncurses5-dev
      - package: libncursesw5-dev
      - package: libreadline-dev
      - package: libsqlite3-dev
      - package: libssl-dev
      - package: llvm
      - package: procps
      - package: sudo
      - package: sysstat
      - package: tk-dev
      - package: wget
      - package: xz-utils
      - package: zlib1g-dev
      - package: zsh
    apk:
      - package: bash
      - package: build-base
      - package: curl
      - package: file
      - package: git
      - package: gpg
      - package: procps
      - package: sudo
      - package: zsh
    yum:
      - package: "Development Tools"
        group: true
      - package: bash
      - package: curl
      - package: file
      - package: git
      - package: gpg
      - package: libxcrypt-compat
        if_distro: fedora
      - procps-ng
      - sudo
      - sysstat
      - zsh
    curl:
      - path: ".installers/install_homebrew.sh"
        if_os: "darwin"
        url: "https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh"
      - path: ".installers/install_rvm.sh"
        url: "https://get.rvm.io"
      - path: ".iterm2_shell_integration.zsh"
        url: "https://iterm2.com/shell_integration/zsh"
      - path: ".installers/terminfo.src.gz"
        unzip: true
        url: "http://invisible-island.net/datafiles/current/terminfo.src.gz"
    git:
      - path: ".config/tmux/plugins/tpm"
        url: "https://github.com/tmux-plugins/tpm.git"
        ref: "master"
      - path: ".oh-my-zsh"
        url: "https://github.com/ohmyzsh/ohmyzsh.git"
        ref: "master"
      - path: ".oh-my-zsh/custom/plugins/zsh-syntax-highlighting"
        url: "https://github.com/zsh-users/zsh-syntax-highlighting.git"
        ref: "master"
      - path: ".oh-my-zsh/custom/plugins/zsh-autosuggestions"
        url: "https://github.com/zsh-users/zsh-autosuggestions.git"
        ref: "master"
      - path: ".oh-my-zsh/custom/plugins/zsh-aws-vault"
        url: "https://github.com/blimmer/zsh-aws-vault.git"
        ref: "main"
      - path: ".oh-my-zsh/custom/themes/powerlevel10k"
        url: "https://github.com/romkatv/powerlevel10k.git"
        ref: "master"
      - path: ".local/share/nvim/site/pack/packer/start/packer.nvim"
        url: "https://github.com/wbthomason/packer.nvim"
        ref: "master"
    terminfo:
      - alacritty
      - alacritty-direct
      - kitty
      - iTerm2.app
      - tmux-256color
    brew:
      - package: age
        use_system: true
      - package: svn
      - package: aws-vault
      - package: bc
      - package: bzip2
      - package: chezmoi
      - package: expect
      - package: fd
      - package: fnm
      - package: gh
      - package: git
      - package: gpg2
      - package: gradle
      - package: jq
      - package: lbzip2
      - package: lzip
      - package: maven
      - package: mosh
        head: true
      - package: nvim
      - package: nvm
      - package: openjdk
      - package: pipenv
      - package: pyenv
      - package: readline
      - package: ripgrep
      - package: syncthing
        service: true
        use_system: true
      - package: zip
      - package: zlib
      - package: terraform@{{ $terraform_version }}
      - package: tmux
        head: true
      - package: unzip
        use_system: true
      - package: mas
        if_os: darwin
      - package: who23/formulae/nchook
        if_os: darwin
        service: true
      - package: telnet
        if_os: darwin
      - package: 1password-cli
        if_os: darwin
        cask: true
      - package: vagrant
        if_os: darwin
        if_arch: amd64
        cask: true
      - package: 1password
        if_os: darwin
        cask: true
      - package: iterm2
        if_os: darwin
        cask: true
      - package: google-chrome
        if_os: darwin
        cask: true
      - package: firefox
        if_os: darwin
        cask: true
      - package: virtualbox
        if_os: darwin
        if_arch: amd64
        cask: true
      - package: virtualbox-extension-pack
        if_os: darwin
        if_arch: amd64
        cask: true
      - package: sequel-pro
        if_os: darwin
        cask: true
      - package: rectangle
        if_os: darwin
        cask: true
      - package: docker
        app_name: Docker
        if_os: darwin
        cask: true
        login: true
      - package: visual-studio-code
        if_os: darwin
        cask: true
      - package: slack
        if_os: darwin
        cask: true
      - package: flycut
        app_name: Flycut
        if_os: darwin
        cask: true
        login: true
      - package: jetbrains-toolbox
        app_name: JetBrains Toolbox
        if_os: darwin
        cask: true
        login: true
      - package: homebrew/cask-fonts/font-meslo-lg-nerd-font
        if_os: darwin
        cask: true
      - package: dropbox
        app_name: Dropbox
        if_os: darwin
        cask: true
        login: true
      - package: jump-desktop-connect
        app_name: Jump Desktop Connect
        if_os: darwin
        cask: true
        login: true
      - package: jump
        if_os: darwin
        cask: true
      - package: zerotier-one
        app_name: ZeroTier One
        if_os: darwin
        cask: true
      - package: notion
        app_name: Notion
        if_os: darwin
        cask: true
    mas:
      - package: Spark
        id: 1176895641
      - package: Amphetamine
        id: 937984704
      - package: Magnet
        id: 441258766
      - package: WireGuard
        id: 1451685025
      - package: XCode
        id: 497799835
    pip:
      - awscli=={{ $awscli_version }}
    npm:
      - "npm@{{ $npm_version }}"
      - "@commitlint/cli@{{ $commitlint_cli_version }}"
  permissions:
    - path: ./.config/op
      initial: "755"
      final: "700"

