# WARNING: Any changes you make to PATH here will be overwritten by Darwin's
#          /etc/zprofile, which is executed after this. Set up paths as needed
#          here for prerequisites, but expect that you'll need to make the
#          same changes again later. Recommend using your own .zprofile, which
#          runs before your .zshrc.

# Store zsh dotfiles (apart from this one) in a directory instead of HOME
export ZDOTDIR="$HOME/.config/zsh"

{{ if eq .chezmoi.os "linux" -}}
eval "$(/home/linuxbrew/.linuxbrew/bin/brew shellenv)"
{{ end -}}
{{ if eq .chezmoi.os "darwin" -}}
eval "$(/usr/local/bin/brew shellenv)"
{{ end }}

export NVM_DIR="$HOME/.nvm"
[ -s "$NVM_DIR/nvm.sh" ] && \. "$NVM_DIR/nvm.sh"  # This loads nvm
[ -s "$NVM_DIR/bash_completion" ] && \. "$NVM_DIR/bash_completion"  # This loads nvm bash_completion

[[ -s "$HOME/.rvm/scripts/rvm" ]] && source "$HOME/.rvm/scripts/rvm" # Load RVM into a shell session *as a function*

