[user]
	name = {{ .fullname }}
	email = {{ .email }}
[core]
	autocrlf = input
	excludesfile = ~/.gitignore
[pull]
	ff = only

[init]
	templatedir = ~/.git-templates

[safe]
  directory = {{ $.brew_install_location }}
  directory = {{ $.brew_install_location }}/Library/Taps/homebrew/homebrew-core
  directory = {{ $.brew_install_location }}/Library/Taps/homebrew/homebrew-services
