[user]
	name = {{ env "CHEZMOI_FULLNAME" }}

[core]
	autocrlf = input
	excludesfile = ~/.gitignore
[pull]
	ff = only

[safe]
	directory = /opt/homebrew
	directory = /opt/homebrew/Library/Taps/homebrew/homebrew-core
	directory = /opt/homebrew/Library/Taps/homebrew/homebrew-services
