[user]
	name = {{ env "CHEZMOI_FULLNAME" }}

[core]
	autocrlf = input
	excludesfile = ~/.gitignore
[pull]
	ff = only

[safe]
	directory = {{ $.brew_install_location }}
	directory = {{ $.brew_install_location }}/Library/Taps/homebrew/homebrew-core
	directory = {{ $.brew_install_location }}/Library/Taps/homebrew/homebrew-services
