#################################################################################
#  USERNAMES
#################################################################################
Match host "bane"
  User xerxes
Match host "frankie,hailey,home,knox,ny,pt"
  User rthomas
Match host "valverde,janeiro"
  User root

#################################################################################
#  TAILSCALE
#################################################################################
Match host "bane,frankie,hailey,home,janeiro,knox,ny,pt,valverde" exec "is tailscale up"
  Hostname %h.squirrel-justice.ts.net

#################################################################################
#  NON-TAILSCALE
#################################################################################
Match host "bane,frankie,hailey,home,janeiro,knox,ny,pt,valverde" exec "is tailscale down"
  Hostname %h.sharedsecret.com

