Match host "*"
  ForwardAgent yes
  IdentitiesOnly yes
  SendEnv SESSION_ID


Match exec "is hostname bane"
  IdentityFile ~/.ssh/id_ed25519


Match exec "is hostname frankie"
  ForwardX11 yes
  ForwardX11Trusted yes
  IdentityFile ~/.ssh/id_ed25519


Match exec "is hostname knox"
  ForwardX11 yes
  ForwardX11Trusted yes
  IdentityFile ~/.ssh/id_rsa


Match exec "is hostname ny"
  IdentityFile ~/.ssh/id_rsa


Match exec "is hostname pt"
  IdentityFile ~/.ssh/id_rsa


Match exec "is hostname unifi"
  IdentityFile ~/.ssh/id_rsa


Match exec "is hostname K79X12CF7G"
  ForwardX11 yes
  ForwardX11Trusted yes
  IdentityFile ~/.ssh/id_rsa

