#################################################################################
#  USERNAMES
#################################################################################
Match host "bane"
  User xerxes
Match host "frankie,home,knox,ny,pt"
  User rthomas
Match host "unifi"
  User ubnt
Match host "work"
  User robertthomas


#################################################################################
#  TAILSCALE
#################################################################################
Match host "bane,frankie,home,knox,ny,pt,unifi,work" exec "is tailscale up"
  Hostname %h.squirrel-justice.ts.net

#################################################################################
#  NON-TAILSCALE
#################################################################################
Match host "bane,frankie,home,knox,ny,pt,unifi,work" exec "is tailscale down"
  Hostname %h.sharedsecret.com

