#################################################################################
#  USERNAMES
#################################################################################
Match host "bane"
  User xerxes
Match host "frankie,hailey,home,knox,ny,pt"
  User rthomas
Match host "homeassistant"
  User hassio
Match host "valverde,janeiro"
  User root
Match host "oceanus"
  User gelfin
Match host "github.com"
  User github
Match host "dreamhost"
  User pixellyte

#################################################################################
#  HOSTNAME EXPANSION
#################################################################################
Match host "dreamhost"
  Hostname coquille.dreamhost.com
Match host "oceanus"
  Hostname oceanus.feralhosting.com

#################################################################################
#  TAILSCALE
#################################################################################
Match host "bane,frankie,hailey,home,homeassistant,janeiro,knox,ny,pt,valverde" exec "is tailscale up"
  Hostname %h.squirrel-justice.ts.net

#################################################################################
#  NON-TAILSCALE
#################################################################################
Match host "bane,frankie,hailey,home,homeassistant,janeiro,knox,ny,pt,valverde" exec "is tailscale down"
  Hostname %h.sharedsecret.com

