export XDG_CONFIG_HOME="${HOME}/.config"
export ZSH_CONFIG_HOME="${XDG_CONFIG_HOME}/zsh"
export ZSH_CONFIG_PRIVATE="${ZSH_CONFIG_HOME}/private"
export ZSH_BUNDLES="${ZSH_CONFIG_HOME}/bundles"
export TZ="{{ index $.tz $.chezmoi.hostname }}"
export COLORTERM=truecolor

alias is_debug='[[ -n "${ZSH_DEBUG}" ]]'
alias is_interactive='[[ -o interactive ]]'
alias is_login='[[ -o login ]]'
alias is_batch='! (is_interactive || is_login)'

function debug_echo() {
  if is_debug; then
    echo $@
  fi
}

function debug_printf() {
  if is_debug; then
    printf $@
  fi
}

function load_homebrew() {
  debug_printf "Checking for homebrew.\n"
  if [[ -z "${HOMEBREW_PREFIX}" ]]; then
    debug_printf "Loading homebrew at {{ $.brew_install_location }}.\n"
    eval "$({{ $.brew_install_location }}/bin/brew shellenv)"
  else
    debug_printf "Homebrew is already loaded.\n"
  fi
}

load_homebrew

source "${ZSH_CONFIG_HOME}/.zpath"
source "${ZSH_CONFIG_HOME}/zsh_bundle"
source "${ZSH_CONFIG_HOME}/.zcleanup"

