debug_enabled && start="$(timestamp)"
eval "$(zsh_bundles zprofile)"
(debug_enabled && profile_end "zprofile") || true

export DOTFILE="${DOTFILE}"
source "${XDG_CONFIG_HOME}/zsh/.zpath"
unset DOTFILE

source "${XDG_CONFIG_HOME}/zsh/.zcleanup"

