debug_enabled && start="$(timestamp)"
eval "$(zsh_bundles zshrc)"
(debug_enabled && profile_end "zshrc") || true

source "${XDG_CONFIG_HOME}/zsh/.zalias"

if [[ ! is_login ]]; then
  source "${XDG_CONFIG_HOME}/zsh/.zcleanup"
fi

