{{- $date := date -}}
{{- if eq $.chezmoi.os "darwin" -}}
{{-   $date = "/usr/local/bin/gdate" -}}
{{- end -}}
export XDG_CONFIG_HOME="${HOME}/.config"
export ZSH_BUNDLES="${XDG_CONFIG_HOME}/zsh/bundles"
alias debug_enabled="[[ -f \"${ZSH_BUNDLES}/000debug/zshenv\" ]]"
alias timestamp="{{ $date }} +'%s%N'"
function profile_end() {
  local end="$(timestamp)"
  delta="$(bc <<< "scale=3; ($end-$start)/1000000000")"
  printf "Total ${1}: %.3fs\n" "$delta"
}

debug_enabled && start="$(timestamp)"

export TZ="America/Denver"
export COLORTERM=truecolor
function zsh_bundles() { find "${ZSH_BUNDLES}" -name "${1}" | sort | xargs -I X echo "source X" }

alias is_interactive="[[ -o interactive ]]"
alias is_login="[[ -o login ]]"

export DOTFILE="zshenv"
source "${XDG_CONFIG_HOME}/zsh/.zpath"
unset DOTFILE

eval "$(zsh_bundles zshenv)"
(debug_enabled && profile_end "zshenv") || true

if [[ ! is_interactive ]]; then
  source "${XDG_CONFIG_HOME}/zsh/.zcleanup"
fi

