is_debug && dotfile_start="$(timestamp)"
eval "$(zsh_bundles zprofile)"
is_debug && echo "Total zprofile: $(duration_since $dotfile_start)" || true

export DOTFILE="${DOTFILE}"
source "${XDG_CONFIG_HOME}/zsh/.zpath"
unset DOTFILE

source "${XDG_CONFIG_HOME}/zsh/.zcleanup"

