{{- $date := "date" -}}
{{- if eq $.chezmoi.os "darwin" -}}
{{-   $date = printf "%s/bin/gdate" $.brew_install_location -}}
{{- end -}}
{{- $bc = printf "%s/bin/bc" $.brew_install_location -}}

# Get the name of the script that called this one (less the leading dot)
caller="$(basename "$(echo "${functrace}" | cut -d' ' -f1 | cut -d':' -f1)" | sed 's/^\.//')"

if is_debug; then
  echo "Evaluating bundle scripts for ${caller}:"
  dotfile_start="$({{ $date }} +'%s%N')"
fi

if [[ -f "${ZSH_CONFIG_PRIVATE}/${caller}" ]]; then
  if is_debug; then
    echo "  ${ZSH_CONFIG_PRIVATE}/${caller}"
  fi
  source "${ZSH_CONFIG_PRIVATE}/${caller}"
fi

if find "${ZSH_BUNDLES}" | grep -q "${caller}"; then
  for script in "${(@f)"$(find "${ZSH_BUNDLES}" -name "${caller}" | sort)"}"
  {
eval "$(cat <<EOF
  if is_debug; then
    printf "Including ${script}"
    start="\$({{ $date }} +'%s%N')"
  fi
  source "\${script}"
  if is_debug; then
    end="\$({{ $date }} +'%s%N')"
    delta_ns="\$({{ $bc }} <<< "\${end}-\${start}")"
    delta_s="\$({{ $bc }} <<< "scale=3; \$delta_ns/1000000000")"
    printf ' %.3fs\\n' "\${delta_s}"
  fi
EOF
)"
  }
fi

if is_debug; then
  dotfile_end="$({{ $date }} +'%s%N')"
  delta_ns="$({{ $bc }} <<< "${dotfile_end} - ${dotfile_start}")"
  delta_s="$({{ $bc }} <<< "scale=3; ${delta_ns} / 1000000000")"
  printf "Total ${caller}: %.3fs\n" "${delta_s}"
fi

