{{- $date := "date" -}}
{{- if eq $.chezmoi.os "darwin" -}}
{{-   $date = "/usr/local/bin/gdate" -}}
{{- end -}}

# Get the name of the script that called this one (less the leading dot)
caller="$(echo "$(basename "$functrace")" | cut -d':' -f1 | sed 's/^\.//')"

if is_debug; then
  dotfile_start="$({{ $date }} +'%s%N')"
fi

for script in "${(@f)"$(find "${ZSH_BUNDLES}" -name "${caller}" | sort)"}"
{
  if is_debug; then cat <<EOF
printf "Including \${script}"
start="\$({{ $date }} +'%s%N')"
EOF
  fi

  echo "source \"${script}\""

  if is_debug; then cat <<EOF
end="\$({{ $date }} +'%s%N')"
delta_ns="\$(bc <<< "\${end}-\${start}")"
delta_s="\$(bc <<< "scale=3; \$delta_ns/1000000000")"
printf ' %.3fs\\n' "\${delta_s}"
EOF
  fi
}

if is_debug; then
  dotfile_end="$({{ $date }} +'%s%N')"
  delta_ns="$(bc <<< "${dotfile_end} - ${dotfile_start}")"
  delta_s="$(bc <<< "scale=3; ${delta_ns} / 1000000000")"
  printf "Total ${caller}: %.3fs\n" "${delta_s}"
fi

