if [ -s "{{ $.brew_install_location }}/opt/nvm/etc/bash_completion.d/nvm" ]; then
  # This loads nvm bash_completion, supported by zsh's bashcompinit
  source "{{ $.brew_install_location }}/opt/nvm/etc/bash_completion.d/nvm"
fi

